flask
flask-cors
gunicorn
python-dotenv
requests
tqdm

pypdf
pdfplumber

pytesseract
Pillow
opencv-python

langchain
langchain-community
langchain-text-splitters

sentence-transformers
openai
tiktoken

faiss-cpu
chromadb

torch
torchvision
transformers

numpy
scikit-learn

jinja2
ipython
